# .gitignore

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Ambientes virtuais do Python
venv/

# Arquivos de log
*.log

# Arquivos de banco de dados SQLite (se estiver usando)
*.sqlite

# Arquivos de configuração .env
.env

# Arquivos de configuração do IDE (VS Code)
.vscode/

# Pasta de dependências do Python
dist/
build/
*.egg-info/